@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
	--background: #FFFFFF;
	--foreground: #111111;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: var(--background);
	color: var(--foreground);
	font-family: "Roboto";
	font-size: 12px;
}

h1, h2, h3, h3, h5, h6 {
	font-family: "Bebas Neue";
}

nav {
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 1000;
	height: 100%;
	width: 40px;
	background-color: var(--background);
}

nav a {
	color: var(--foreground);
	text-decoration: none;
}

.content {
	height: 100vh;
	width: 100vw;
}

.inner-wrapper {
	display: flex;
	flex-direction: row;
	width: 400vw;
	transform: rotate(90deg) translateY(-100vh);
	transform-origin: top left;
}

.outer-wrapper {
	position: absolute;
	width: 100vh;
	height: 100vw;
	transform: rotate(-90deg) translateX(-100vh);
	transform-origin: top left;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
::-webkit-scrollbar {
	display: none;
}
