<div class="content {{ section.name }}" id="{{ section.name }}">
	<h2>
		<span class="dot">.</span>{{ section.disp_name }}
	</h2>
	<form class="form" action="/contact" method = 'post'>
		{{ data.form.name.label }}
		{{ data.form.name(class_="input", placeholder = "Enter name") }}
		{{ data.form.email.label }}
		{{ data.form.email(class_="input", placeholder = "Enter email") }}
		{{ data.form.message.label }}
		{{ data.form.message(class_="input", placeholder = "Enter message") }}
		{{ data.form.submit(class_="submit") }}
	</form>
</div>
